[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
contourpy = "*"
cycler = "*"
fonttools = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
packaging = "*"
pandas = "*"
Pillow = "*"
pip = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
setuptools = "*"
six = "*"
threadpoolctl = "*"
tzdata = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "*"
